extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Joe's Coffee Shop
    div.Message
      div.Title
        h3 Every Friday
        h1 Free Coffee at our location on 10th/Broadway!
    div.NavButtons
      a(href="/user")
          div.NavButton Menu